[Desktop Entry]
Name=wmget
Comment=Background download manager
Comment[pl]=Pracujący w tle program do pobierania plików
Icon=wmget.xpm
Exec=/usr/bin/wmget
Terminal=0
Type=Aplikacje
Encoding=UTF-8
# vi: encoding=utf-8
