[Desktop Entry]
Name=wmget
Comment=Background download manager
Comment[pl]=Pracujący w tle program do pobierania plików
Icon=wmget
Exec=/usr/bin/wmget
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
